# CineMatch Environment Variables

# Optional: Add your TMDb (The Movie Database) API Key to load actual movie posters.
# You can register and get a free API Key in 2 minutes at https://www.themoviedb.org/ (under Settings -> API)
TMDB_API_KEY=your_api_key_here
